<a href="https://colab.research.google.com/github/CarolinaDN/AdventCode2022/blob/main/AdventCode2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Day 1: Calorie Counting

In [76]:
inventory_test = [1000,2000,3000,'',4000,'',5000,6000,'',7000,8000,9000,'',10000]
alist = [line.rstrip() for line in open('day1.txt')]

In [77]:
def max_calories(inventory):
  total_calories = 0 
  list_calories = []

  for food in inventory:
    if food == '':
      list_calories.append(total_calories)
      total_calories = 0

    else:
      total_calories = int(food) + total_calories

  max_calories = max(list_calories)

  return max_calories


max_calories(inventory_test), max_calories(alist)

(24000, 71471)

In [79]:
def max_calories_top3(inventory):
  total_calories = 0 
  list_calories = []

  for food in inventory:
    if food == '':
      list_calories.append(total_calories)
      total_calories = 0

    else:
      total_calories = int(food) + total_calories

  list_calories.sort(reverse=True)
  top3 = sum(list_calories[:3])

  return top3

max_calories_top3(alist)

211189

#Day 2: Rock Paper Scissors

In [80]:
test = [['A','Y'],
['B', 'X'],
['C' ,'Z']]

day2 = [line.rstrip().split() for line in open('day2.txt')]

In [81]:
def replace_all(text, dic):
    for i, j in dic.items():
        text = text.replace(i, j)
    return text

In [82]:
def rock_paper_scissors(rounds):
  score = 0

  for round in rounds:
    score +=1 #considers rock
    
    #considers paper
    if round[1] == 'Y':
      score +=1 
    #considers scissors 
    elif round[1]=='Z': 
      score +=2 

    dic = { "X": "A", "Y": "B", "Z":"C"}

    round = list(map(lambda x: replace_all(x, dic), round))
    
    if round[0] == round[1]: #ties
      score += 3
    
    #wins
    if (round[0] == 'A') & ( round[1] == 'B'):
      score +=6
    
    if (round[0] == 'B') & ( round[1] == 'C'):
      score +=6

    if (round[0] == 'C') & ( round[1] == 'A'):
      score +=6

  return score
rock_paper_scissors(test), rock_paper_scissors(day2)

(15, 11475)

In [83]:
def rock_paper_scissors_part2(rounds):
  score = 0

  for round in rounds:
    score +=1 #considers we choose rock 
  
    if round[1] == 'Y': #ties
      score += 3
      if round[0] == 'B': #paper
        score +=1 
      if round[0] == 'C': #scissor
        score +=2 
    
    if round[1] == 'X': #loss
      if (round[0] == 'A'): #he puts rock we choose scissor
        score +=2  
      if (round[0] == 'C'): #he puts scissor we choose paper
        score +=1 

    if round[1] == 'Z': #win
      score += 6
      if (round[0] == 'A'): #he puts rock we choose paper
        score +=1 
      if (round[0] == 'B'): #he puts paper we choose scissor
        score +=2

  return score
rock_paper_scissors_part2(test), rock_paper_scissors_part2(day2)

(12, 16862)

# Day 3: Rucksack Reorganization

In [84]:
test = ['vJrwpWtwJgWrhcsFMMfFFhFp',
'jqHRNqRjqzjGDLGLrsFMfFZSrLrFZsSL',
'PmmdzqPrVvPwwTWBwg',
'wMqvLMZHhHMvwLHjbvcjnnSBnvTQFn',
'ttgJtRGJQctTZtZT',
'CrZsJsPPZsGzwwsLwLmpwMDw']

day3 = [line.rstrip() for line in open('day3.txt')]

In [85]:
import string
import numpy as np 
alphabet = list(string.ascii_letters)
priorities = {alphabet[i]: np.arange(1,53)[i] for i in range(len(alphabet))}

In [86]:
def rucksack_priorities(rucksacks):
  priority_values = []

  for items in rucksacks:
    len_compartment = int(len(items)/2)
    compartment1, compartment2 =  set(items[:len_compartment]), set(items[len_compartment:])
    common_item =  [common for common in compartment1 if common in compartment2] 
    priority_values.append(priorities.get(common_item[0]))
  
  return sum(priority_values)

rucksack_priorities(test), rucksack_priorities(day3)

(157, 7848)

In [87]:
def rucksack_priorities_badge(rucksacks):
  priority_values = []

  for items in range(0, len(rucksacks), 3):
    group = rucksacks[items:items+3]

    rucksack1, rucksack2, rucksack3 = set(group[0]), set(group[1]), set(group[2])
    common_item =  [common for common in rucksack1 if (common in rucksack2) & (common in rucksack3)]

    priority_values.append(priorities.get(common_item[0]))

  return sum(priority_values)

rucksack_priorities_badge(test), rucksack_priorities_badge(day3)

(70, 2616)

# Day 4: Camp Cleanup

In [1]:
test = ['2-4,6-8',
'2-3,4-5',
'5-7,7-9',
'2-8,3-7',
'6-6,4-6',
'2-6,4-8']

day4 = [line.rstrip() for line in open('day4.txt')]

In [22]:
def cleanup(distribution):
  contain_other = 0
  overlapp = 0
  for pair in distribution:
    pair = pair.split('-')
    first_elf = [i for i in range(int(pair[0]), int(pair[1].split(',')[0])+1)]
    second_elf = [i for i in range(int(pair[1].split(',')[1]), int(pair[2])+1)]

    #part 1
    if set(first_elf).issubset(set(second_elf)) or set(second_elf).issubset(set(first_elf)):
      contain_other += 1

    #part 2
    if list(set(first_elf) & set(second_elf)) != []:
      overlapp += 1

  return contain_other, overlapp

cleanup(test), cleanup(day4)

((2, 4), (448, 794))

# Day 5: Supply Stacks

I'm complicating, simplify, think about dictionaries

In [9]:
test = ['    [D]    ',
'[N] [C]    ',
'[Z] [M] [P]',
' 1   2   3 ',
'',
'move 1 from 2 to 1',
'move 3 from 1 to 3',
'move 2 from 2 to 1',
'move 1 from 1 to 2']
test

['    [D]    ',
 '[N] [C]    ',
 '[Z] [M] [P]',
 ' 1   2   3 ',
 '',
 'move 1 from 2 to 1',
 'move 3 from 1 to 3',
 'move 2 from 2 to 1',
 'move 1 from 1 to 2']

In [174]:
stack=[]
for i in test:
  if i != '':
    stack.append(i.split(' ['))
  else:
    break

In [175]:
stack

[['   ', 'D]    '], ['[N]', 'C]    '], ['[Z]', 'M]', 'P]'], [' 1   2   3 ']]

In [171]:
import pandas as pd
import numpy as np
df = pd.DataFrame(stack[:-1]).replace(']','', regex=True).replace('\[','', regex=True).replace(' ', '')
df.columns = df.index +1
for column in df.columns:
  df[column] = df[column].str.strip()
df

   1  2     3
0     D  None
1  N  C  None
2  Z  M     P

In [157]:
df[1].unique()

array(['', 'N', 'Z'], dtype=object)

In [141]:
df[2][:1]

0    D
Name: 2, dtype: object

In [181]:
pd.concat([df[2][:1], df[1]])#.replace('', np.nan())

0    D
0
1    N
2    Z
dtype: object

In [2]:
day5 = [line.rstrip() for line in open('day5.txt')]

In [3]:
day5

['    [G] [R]                 [P]',
 '    [H] [W]     [T] [P]     [H]',
 '    [F] [T] [P] [B] [D]     [N]',
 '[L] [T] [M] [Q] [L] [C]     [Z]',
 '[C] [C] [N] [V] [S] [H]     [V] [G]',
 '[G] [L] [F] [D] [M] [V] [T] [J] [H]',
 '[M] [D] [J] [F] [F] [N] [C] [S] [F]',
 '[Q] [R] [V] [J] [N] [R] [H] [G] [Z]',
 ' 1   2   3   4   5   6   7   8   9',
 '',
 'move 5 from 8 to 2',
 'move 2 from 4 to 5',
 'move 3 from 3 to 9',
 'move 4 from 1 to 8',
 'move 5 from 9 to 1',
 'move 3 from 3 to 8',
 'move 2 from 4 to 7',
 'move 6 from 6 to 5',
 'move 5 from 2 to 4',
 'move 2 from 9 to 1',
 'move 1 from 7 to 1',
 'move 4 from 7 to 3',
 'move 5 from 1 to 5',
 'move 3 from 1 to 4',
 'move 8 from 5 to 3',
 'move 7 from 3 to 2',
 'move 10 from 4 to 7',
 'move 1 from 7 to 3',
 'move 1 from 6 to 2',
 'move 3 from 8 to 4',
 'move 4 from 3 to 2',
 'move 1 from 1 to 2',
 'move 4 from 3 to 1',
 'move 2 from 1 to 7',
 'move 3 from 5 to 1',
 'move 7 from 8 to 4',
 'move 9 from 5 to 1',
 'move 9 from 2 to 7',
 'move 6 from 4 to 9',
 'move 14 from 7 to 5',
 'move 2 from 1 to 4',
 'move 6 from 7 to 1',
 'move 4 from 4 to 9',
 'move 6 from 2 to 8',
 'move 2 from 4 to 9',
 'move 2 from 9 to 3',
 'move 3 from 8 to 3',
 'move 5 from 9 to 4',
 'move 1 from 2 to 9',
 'move 5 from 5 to 3',
 'move 3 from 2 to 7',
 'move 1 from 1 to 4',
 'move 3 from 7 to 5',
 'move 4 from 9 to 6',
 'move 2 from 9 to 3',
 'move 5 from 1 to 6',
 'move 7 from 6 to 5',
 'move 1 from 2 to 3',
 'move 10 from 1 to 5',
 'move 1 from 8 to 3',
 'move 14 from 3 to 7',
 'move 1 from 8 to 4',
 'move 2 from 6 to 1',
 'move 28 from 5 to 9',
 'move 1 from 2 to 1',
 'move 5 from 4 to 6',
 'move 2 from 4 to 3',
 'move 13 from 7 to 8',
 'move 1 from 3 to 5',
 'move 1 from 5 to 2',
 'move 1 from 3 to 6',
 'move 1 from 5 to 6',
 'move 22 from 9 to 1',
 'move 1 from 2 to 7',
 'move 3 from 9 to 5',
 'move 2 from 7 to 5',
 'move 18 from 1 to 4',
 'move 7 from 8 to 3',
 'move 4 from 6 to 8',
 'move 2 from 5 to 8',
 'move 5 from 3 to 9',
 'move 2 from 5 to 1',
 'move 3 from 6 to 8',
 'move 1 from 5 to 9',
 'move 2 from 3 to 6',
 'move 10 from 1 to 5',
 'move 15 from 8 to 6',
 'move 10 from 6 to 8',
 'move 1 from 9 to 4',
 'move 1 from 1 to 3',
 'move 4 from 4 to 3',
 'move 5 from 3 to 5',
 'move 9 from 5 to 6',
 'move 13 from 6 to 5',
 'move 8 from 5 to 7',
 'move 8 from 9 to 6',
 'move 2 from 6 to 4',
 'move 2 from 6 to 2',
 'move 3 from 7 to 4',
 'move 2 from 2 to 8',
 'move 1 from 5 to 4',
 'move 3 from 7 to 9',
 'move 1 from 5 to 9',
 'move 5 from 6 to 9',
 'move 10 from 8 to 3',
 'move 3 from 8 to 1',
 'move 5 from 9 to 2',
 'move 1 from 6 to 4',
 'move 4 from 5 to 6',
 'move 7 from 3 to 7',
 'move 5 from 6 to 5',
 'move 19 from 4 to 8',
 'move 15 from 8 to 3',
 'move 2 from 1 to 5',
 'move 7 from 5 to 9',
 'move 2 from 7 to 2',
 'move 3 from 3 to 8',
 'move 5 from 5 to 8',
 'move 10 from 9 to 3',
 'move 1 from 4 to 2',
 'move 10 from 8 to 3',
 'move 29 from 3 to 2',
 'move 2 from 3 to 4',
 'move 1 from 1 to 5',
 'move 2 from 8 to 4',
 'move 1 from 9 to 1',
 'move 1 from 3 to 9',
 'move 1 from 1 to 9',
 'move 2 from 3 to 4',
 'move 33 from 2 to 1',
 'move 2 from 2 to 4',
 'move 1 from 3 to 1',
 'move 22 from 1 to 2',
 'move 6 from 4 to 9',
 'move 4 from 7 to 1',
 'move 16 from 1 to 4',
 'move 3 from 7 to 6',
 'move 2 from 9 to 4',
 'move 1 from 5 to 2',
 'move 9 from 4 to 2',
 'move 1 from 6 to 5',
 'move 7 from 4 to 2',
 'move 6 from 9 to 8',
 'move 4 from 4 to 9',
 'move 4 from 8 to 3',
 'move 2 from 4 to 3',
 'move 2 from 2 to 5',
 'move 2 from 5 to 2',
 'move 1 from 5 to 6',
 'move 3 from 9 to 5',
 'move 1 from 6 to 8',
 'move 2 from 6 to 5',
 'move 1 from 3 to 2',
 'move 1 from 8 to 4',
 'move 2 from 8 to 2',
 'move 5 from 5 to 6',
 'move 44 from 2 to 8',
 'move 1 from 4 to 8',
 'move 3 from 6 to 8',
 'move 2 from 6 to 2',
 'move 37 from 8 to 3',
 'move 1 from 9 to 4',
 'move 1 from 2 to 5',
 'move 5 from 8 to 6',
 'move 1 from 4 to 6',
 'move 1 from 2 to 4',
 'move 16 from 3 to 2',
 'move 1 from 4 to 5',
 'move 1 from 8 to 3',
 'move 4 from 8 to 2',
 'move 1 from 8 to 7',
 'move 2 from 5 to 8',
 'move 15 from 2 to 4',
 'move 5 from 6 to 3',
 'move 1 from 7 to 4',
 'move 1 from 8 to 9',
 'move 1 from 6 to 7',
 'move 1 from 8 to 3',
 'move 2 from 2 to 8',
 'move 1 from 9 to 3',
 'move 2 from 8 to 4',
 'move 1 from 4 to 6',
 'move 33 from 3 to 7',
 'move 1 from 6 to 3',
 'move 1 from 4 to 8',
 'move 1 from 8 to 9',
 'move 4 from 4 to 3',
 'move 9 from 4 to 7',
 'move 3 from 4 to 8',
 'move 11 from 7 to 2',
 'move 14 from 7 to 6',
 'move 1 from 8 to 3',
 'move 1 from 9 to 5',
 'move 1 from 5 to 1',
 'move 8 from 2 to 9',
 'move 1 from 8 to 7',
 'move 6 from 3 to 6',
 'move 18 from 6 to 4',
 'move 1 from 2 to 7',
 'move 1 from 3 to 6',
 'move 14 from 4 to 2',
 'move 4 from 4 to 3',
 'move 3 from 6 to 3',
 'move 19 from 2 to 6',
 'move 16 from 6 to 8',
 'move 1 from 1 to 8',
 'move 16 from 8 to 7',
 'move 3 from 9 to 4',
 'move 3 from 6 to 2',
 'move 3 from 4 to 7',
 'move 4 from 3 to 2',
 'move 2 from 2 to 4',
 'move 4 from 9 to 8',
 'move 5 from 2 to 8',
 'move 29 from 7 to 5',
 'move 6 from 8 to 2',
 'move 2 from 3 to 4',
 'move 2 from 2 to 6',
 'move 1 from 3 to 5',
 'move 4 from 2 to 6',
 'move 8 from 7 to 5',
 'move 1 from 7 to 5',
 'move 2 from 8 to 6',
 'move 1 from 8 to 7',
 'move 6 from 6 to 1',
 'move 2 from 7 to 6',
 'move 1 from 9 to 7',
 'move 3 from 1 to 7',
 'move 3 from 6 to 1',
 'move 1 from 7 to 6',
 'move 3 from 1 to 6',
 'move 1 from 1 to 5',
 'move 4 from 6 to 3',
 'move 2 from 4 to 2',
 'move 38 from 5 to 6',
 'move 3 from 3 to 8',
 'move 4 from 8 to 6',
 'move 22 from 6 to 8',
 'move 1 from 7 to 8',
 'move 2 from 6 to 2',
 'move 2 from 5 to 2',
 'move 2 from 2 to 1',
 'move 2 from 4 to 6',
 'move 2 from 2 to 1',
 'move 1 from 1 to 9',
 'move 2 from 8 to 5',
 'move 2 from 2 to 8',
 'move 2 from 5 to 2',
 'move 2 from 7 to 2',
 'move 1 from 3 to 1',
 'move 4 from 1 to 8',
 'move 1 from 9 to 5',
 'move 1 from 1 to 7',
 'move 1 from 2 to 8',
 'move 29 from 8 to 3',
 'move 15 from 3 to 2',
 'move 12 from 2 to 5',
 'move 1 from 1 to 6',
 'move 3 from 2 to 1',
 'move 6 from 3 to 8',
 'move 2 from 3 to 9',
 'move 1 from 6 to 7',
 'move 12 from 5 to 8',
 'move 2 from 7 to 1',
 'move 2 from 1 to 4',
 'move 2 from 4 to 2',
 'move 1 from 5 to 8',
 'move 1 from 3 to 6',
 'move 2 from 3 to 4',
 'move 3 from 1 to 4',
 'move 5 from 8 to 9',
 'move 4 from 4 to 2',
 'move 5 from 9 to 6',
 'move 26 from 6 to 8',
 'move 7 from 2 to 8',
 'move 3 from 3 to 1',
 'move 1 from 6 to 4',
 'move 14 from 8 to 6',
 'move 2 from 1 to 2',
 'move 1 from 1 to 3',
 'move 18 from 8 to 5',
 'move 15 from 8 to 2',
 'move 5 from 6 to 8',
 'move 4 from 5 to 8',
 'move 7 from 2 to 5',
 'move 2 from 9 to 6',
 'move 1 from 2 to 1',
 'move 7 from 2 to 3',
 'move 7 from 8 to 1',
 'move 2 from 6 to 3',
 'move 1 from 4 to 6',
 'move 2 from 8 to 6',
 'move 10 from 3 to 9',
 'move 18 from 5 to 8',
 'move 1 from 4 to 6',
 'move 2 from 1 to 9',
 'move 12 from 6 to 9',
 'move 1 from 6 to 9',
 'move 9 from 8 to 4',
 'move 6 from 1 to 2',
 'move 3 from 8 to 9',
 'move 14 from 9 to 8',
 'move 5 from 4 to 9',
 'move 2 from 4 to 5',
 'move 16 from 8 to 5',
 'move 12 from 5 to 4',
 'move 7 from 5 to 1',
 'move 1 from 1 to 8',
 'move 1 from 5 to 8',
 'move 1 from 4 to 9',
 'move 8 from 2 to 7',
 'move 12 from 4 to 3',
 'move 2 from 2 to 5',
 'move 1 from 3 to 2',
 'move 3 from 5 to 4',
 'move 1 from 4 to 8',
 'move 3 from 4 to 9',
 'move 18 from 9 to 8',
 'move 8 from 3 to 1',
 'move 5 from 8 to 1',
 'move 1 from 2 to 5',
 'move 3 from 7 to 1',
 'move 3 from 7 to 5',
 'move 1 from 8 to 9',
 'move 5 from 9 to 7',
 'move 2 from 3 to 6',
 'move 16 from 1 to 4',
 'move 14 from 8 to 6',
 'move 2 from 5 to 6',
 'move 4 from 1 to 6',
 'move 3 from 4 to 9',
 'move 15 from 6 to 1',
 'move 5 from 4 to 3',
 'move 2 from 8 to 2',
 'move 6 from 4 to 3',
 'move 15 from 1 to 5',
 'move 14 from 5 to 3',
 'move 5 from 6 to 2',
 'move 2 from 4 to 7',
 'move 1 from 1 to 6',
 'move 2 from 3 to 4',
 'move 3 from 8 to 1',
 'move 1 from 5 to 1',
 'move 5 from 7 to 1',
 'move 7 from 1 to 3',
 'move 3 from 6 to 2',
 'move 4 from 9 to 5',
 'move 2 from 4 to 3',
 'move 4 from 7 to 9',
 'move 8 from 2 to 9',
 'move 1 from 9 to 1',
 'move 2 from 2 to 8',
 'move 11 from 9 to 1',
 'move 6 from 5 to 1',
 'move 21 from 3 to 2',
 'move 1 from 8 to 5',
 'move 5 from 1 to 7',
 'move 12 from 1 to 8',
 'move 1 from 5 to 2',
 'move 5 from 3 to 2',
 'move 4 from 7 to 2',
 'move 1 from 7 to 8',
 'move 13 from 2 to 5',
 'move 13 from 2 to 5',
 'move 2 from 2 to 1',
 'move 1 from 1 to 9',
 'move 26 from 5 to 4',
 'move 3 from 2 to 7',
 'move 2 from 3 to 9',
 'move 1 from 1 to 6',
 'move 5 from 3 to 2',
 'move 2 from 9 to 6',
 'move 1 from 1 to 8',
 'move 3 from 1 to 6',
 'move 24 from 4 to 9',
 'move 13 from 9 to 1',
 'move 2 from 6 to 2',
 'move 3 from 7 to 5',
 'move 2 from 9 to 7',
 'move 8 from 8 to 3',
 'move 4 from 8 to 5',
 'move 2 from 7 to 2',
 'move 8 from 9 to 4',
 'move 10 from 1 to 2',
 'move 1 from 9 to 1',
 'move 1 from 9 to 2',
 'move 4 from 3 to 2',
 'move 4 from 1 to 8',
 'move 3 from 4 to 8',
 'move 12 from 2 to 3',
 'move 3 from 4 to 6',
 'move 5 from 3 to 2',
 'move 9 from 3 to 9',
 'move 4 from 2 to 9',
 'move 1 from 3 to 7',
 'move 6 from 8 to 2',
 'move 4 from 6 to 8',
 'move 1 from 3 to 8',
 'move 6 from 9 to 1',
 'move 2 from 1 to 8',
 'move 5 from 5 to 8',
 'move 3 from 6 to 8',
 'move 1 from 5 to 1',
 'move 7 from 8 to 2',
 'move 1 from 1 to 4',
 'move 1 from 4 to 6',
 'move 1 from 9 to 4',
 'move 1 from 5 to 9',
 'move 1 from 4 to 7',
 'move 12 from 8 to 2',
 'move 4 from 4 to 3',
 'move 2 from 3 to 1',
 'move 1 from 7 to 2',
 'move 1 from 6 to 8',
 'move 1 from 8 to 6',
 'move 4 from 9 to 3',
 'move 1 from 9 to 3',
 'move 13 from 2 to 3',
 'move 3 from 1 to 7',
 'move 2 from 9 to 4',
 'move 2 from 1 to 9',
 'move 2 from 7 to 2',
 'move 1 from 4 to 1',
 'move 2 from 7 to 5',
 'move 14 from 3 to 8',
 'move 1 from 8 to 5',
 'move 2 from 1 to 4',
 'move 2 from 3 to 4',
 'move 2 from 3 to 4',
 'move 10 from 8 to 3',
 'move 2 from 4 to 8',
 'move 1 from 9 to 3',
 'move 3 from 2 to 3',
 'move 16 from 2 to 4',
 'move 1 from 8 to 5',
 'move 11 from 3 to 4',
 'move 2 from 3 to 7',
 'move 3 from 5 to 1',
 'move 1 from 1 to 2',
 'move 3 from 2 to 5',
 'move 1 from 1 to 9',
 'move 2 from 7 to 4',
 'move 8 from 4 to 3',
 'move 1 from 6 to 7',
 'move 1 from 8 to 6',
 'move 1 from 5 to 1',
 'move 6 from 3 to 5',
 'move 2 from 1 to 3',
 'move 5 from 5 to 7',
 'move 2 from 7 to 2',
 'move 2 from 3 to 4',
 'move 4 from 7 to 1',
 'move 1 from 6 to 8',
 'move 1 from 2 to 1',
 'move 3 from 1 to 6',
 'move 2 from 9 to 6',
 'move 8 from 2 to 1',
 'move 2 from 6 to 2',
 'move 2 from 6 to 3',
 'move 6 from 3 to 5',
 'move 2 from 4 to 6',
 'move 2 from 2 to 9',
 'move 1 from 8 to 6',
 'move 2 from 6 to 5',
 'move 1 from 9 to 1',
 'move 11 from 5 to 8',
 'move 7 from 8 to 6',
 'move 23 from 4 to 1',
 'move 1 from 5 to 9',
 'move 1 from 4 to 6',
 'move 2 from 4 to 8',
 'move 1 from 3 to 1',
 'move 6 from 8 to 3',
 'move 2 from 9 to 6',
 'move 3 from 6 to 1',
 'move 3 from 8 to 7',
 'move 1 from 3 to 6',
 'move 18 from 1 to 2',
 'move 5 from 3 to 8',
 'move 13 from 2 to 9',
 'move 5 from 9 to 7',
 'move 1 from 8 to 6',
 'move 5 from 2 to 6',
 'move 2 from 1 to 7',
 'move 9 from 7 to 8',
 'move 11 from 8 to 6',
 'move 2 from 9 to 4',
 'move 16 from 6 to 1',
 'move 2 from 4 to 6',
 'move 1 from 8 to 9',
 'move 1 from 7 to 6',
 'move 8 from 1 to 5',
 'move 3 from 6 to 5',
 'move 8 from 6 to 4',
 'move 7 from 9 to 5',
 'move 1 from 8 to 1',
 'move 6 from 5 to 1',
 'move 9 from 5 to 7',
 'move 4 from 7 to 9',
 'move 1 from 4 to 8',
 'move 1 from 8 to 3',
 'move 1 from 1 to 8',
 'move 1 from 8 to 7',
 'move 22 from 1 to 3',
 'move 1 from 6 to 7',
 'move 2 from 9 to 4',
 'move 1 from 9 to 6',
 'move 1 from 9 to 4',
 'move 10 from 4 to 3',
 'move 1 from 1 to 2',
 'move 2 from 5 to 4',
 'move 27 from 3 to 8',
 'move 5 from 3 to 9']